.navele1{
    list-style: none;
    text-decoration: none;
    background-color: rgba(49, 49, 247, 0.436);
    padding: 8px;
    border-radius: 20px;
    color: white;

}
.nav1{
    background-color: rgb(80, 255, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 60px;
}
body{
    margin: 0;
    padding: 0;
}
.navele1:visited{
    color: rgb(8, 95, 255);
}